<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzReverseArrow]="isReverseArrow">
    <div class="logo-container">
      <img class="logo" [src]="isCollapsed ? 'assets/logo.svg' : 'assets/logo_text.svg'" alt="FireBrok">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="/dashboard">
        <span title>
          <i nz-icon type="home"></i>
          Home
        </span>
      </li>
      <li nz-submenu>
        <span title>
          <i nz-icon type="user"></i>
          <span class="nav-text">{{ (auth.authenticatedUser | async)?.email }}</span>
        </span>
        <ul>
          <li nz-menu-item>Mon compte</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title>
          <i nz-icon type="cluster"></i>
          <span class="nav-text">Automates</span>
        </span>
        <ul>
          <li nz-menu-item><a routerLink="/dashboard/automatons">Tous</a></li>
          <li nz-menu-item><a routerLink="/dashboard/automatons/create">Enregistrer un automate</a></li>
        </ul>
      </li>
      <li nz-menu-item><span><i nz-icon type="file"></i><span class="nav-text">File</span></span></li>
    </ul>
  </nz-sider>
  <nz-layout style="height: 100vh">
    <nz-header class="custom-header" nz-row nzType="flex" nzJustify="space-between">
      <h1 style="color: #d9d9d9" routerLink="/dashboard">Dashboard</h1>
      <button nz-col nz-button nzType="danger" class="menu-item" (click)="auth.signOut()">
        <i nz-icon type="logout"></i>
        Log out
      </button>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <!--<nz-footer style="text-align: center;">
      FireBroK-Angular - Angular front-end for FireBrok platform - 2019 - Bastien Nicoud<br>
      Logo icon made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </nz-footer>-->
  </nz-layout>
</nz-layout>
