<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="logIn()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input type="text" nz-input formControlName="userName" placeholder="Username">
      </nz-input-group>
      <nz-form-explain *ngIf="form.get('userName').dirty && form.get('userName').errors">
        Veuillez renter une e-mail valide.
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="password" placeholder="Password">
      </nz-input-group>
      <nz-form-explain *ngIf="form.get('password').dirty && form.get('password').errors">
        Veuillez renseigner un mot-de-passe.
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button
        type="submit"
        nz-button
        class="login-form-button"
        [nzType]="'primary'"
        [disabled]="!form.valid"
        [nzLoading]="loading">
        Log in
      </button>
      Or
      <a routerLink="/sign-in">register now!</a>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
