<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzReverseArrow]="isReverseArrow">
    <div class="logo-container">
      <img class="logo" [src]="isCollapsed ? '../assets/logo.svg' : '../assets/logo_text.svg'" alt="FireBrok">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title>
          <i nz-icon type="user"></i>
          <span class="nav-text">Mes automates</span>
        </span>
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="team"></i><span class="nav-text">Team</span></span>
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item><span><i nz-icon type="file"></i><span class="nav-text">File</span></span></li>
    </ul>
  </nz-sider>
  <nz-layout style="height: 100vh">
    <nz-header class="custom-header" nz-row nzType="flex" nzJustify="space-between">
      <h1>Mes automates</h1>
      <button nz-col nz-button nzType="danger" class="menu-item">
        <i nz-icon type="logout"></i>
        Log out
      </button>
    </nz-header>
    <nz-content>
      <div style="padding:24px; background: #fff;">
        <div nz-row>
          <div nz-col>
            <h2>Créez un nouvel automate</h2>
          </div>
        </div>
        <form nz-form (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-label nzFor="email">
              E-mail
            </nz-form-label>
            <nz-form-control>
              <input nz-input type="email" name="email">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary">Envoyer</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">
      FireBroK-Angular - Angular front-end for FireBrok platform - 2019 - Bastien Nicoud<br>
      Logo icon made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </nz-footer>
  </nz-layout>
</nz-layout>
