<div nz-row nzGutter="16">
  <div nz-col nzSpan="10">
    <h2>Informations :</h2>
    <h3>Nom : {{ (automaton$ | async)?.name }}</h3>
    <P>{{ (automaton$ | async)?.description }}</P>
    <button nz-button (click)="isModalVisible = true">
      <i nz-icon type="info-circle"></i>
      Identifiants
    </button>
    <button nz-button nzType="primary" [routerLink]="['/dashboard/automatons', route.snapshot.params.id, 'edit']">
      <i nz-icon type="info-circle"></i>
      Modifier
    </button>
    <nz-modal
      [(nzVisible)]="isModalVisible"
      nzTitle="Identifiants MQTT de l'automate"
      (nzOnCancel)="isModalVisible = false"
      (nzOnOk)="isModalVisible = false">
      <p><strong>Nom :</strong> {{ (automaton$ | async)?.name }}</p>
      <p><strong>Pass :</strong> {{ (automaton$ | async)?.id }}</p>
    </nz-modal>
    <nz-alert
      nzType="info"
      nzMessage="Connectez votre automate :"
      nzDescription="Utilisez les identifiants de l'automate pour la connexion MQTT."
      nzShowIcon>
    </nz-alert>
  </div>
  <div nz-col nzSpan="14">
    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col>
        <h2>Topics de l'automate</h2>
      </div>
    </div>
    <nz-list
      [nzDataSource]="topics$ | async"
      [nzRenderItem]="a"
      [nzItemLayout]="'horizontal'"
      nzBordered>
      <ng-template #a let-item>
        <nz-list-item>
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="'Dérnière données ' + item.updated_at.toDate().toLocaleString()">
            <ng-template #nzTitle>
              <a [routerLink]="['/dashboard/automatons', route.snapshot.params.id, 'topics', item.id]">
                <i nz-icon type="tag" theme="twotone"></i>
                &nbsp;<span>{{item.name}}</span>
              </a>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
</div>
