<div nz-row>
  <div nz-col>
    <h1>Topic : <i>{{ (topic$ | async)?.name }}</i></h1>
    <div>
      <nz-tag [nzColor]="'green'">Créé le : {{ (topic$ | async)?.created_at.toDate().toLocaleString() }}</nz-tag>
      <nz-tag [nzColor]="'gold'">Dérniéres données le : {{ (topic$ | async)?.updated_at.toDate().toLocaleString() }}</nz-tag>
    </div>
  </div>
</div>
<div nz-row nzGutter="16">
  <div nz-col nzSpan="14">
    <h2>Dérnières données</h2>
    <!-- Display the graph -->
    <app-frappe-graph *ngIf="graphType == 'line'" type="line" [data$]="graphFlux$"></app-frappe-graph>
    <app-frappe-graph *ngIf="graphType == 'bar'" type="bar" [data$]="graphFlux$"></app-frappe-graph>
    <p style="margin-top: 12px">Modifier le type de graphique</p>
    <nz-radio-group [(ngModel)]="graphType">
      <label nz-radio-button nzValue="line"><span>Lignes</span></label>
      <label nz-radio-button nzValue="bar"><span>Bares</span></label>
    </nz-radio-group>
    <!-- Slider to select graph range -->
    <p>Modifier la quantité de données affichées :</p>
    <nz-slider
      [nzMin]="5"
      [nzMax]="50"
      [nzStep]="5"
      [(ngModel)]="sliderValue"
      (ngModelChange)="onChange($event)"
    ></nz-slider>
  </div>
  <div nz-col nzSpan="10" style="max-height: 70vh; overflow: scroll;">
    <h2>Données</h2>
    <nz-list
      [nzDataSource]="flux$ | async"
      [nzRenderItem]="a"
      [nzItemLayout]="'horizontal'"
      nzBordered>
      <ng-template #a let-item>
        <nz-list-item>
          <nz-list-item-meta [nzTitle]="nzTitle">
            <ng-template #nzTitle>
              <strong>{{item.message}}</strong> - le {{ item.timestamp.toDate().toLocaleString() }}
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
</div>
